// $sm:600px;
// $md:900px;
// $lg:1200px;
// $xl:1600px;

@media screen and (min-width:600px) {
    .button-container{
        max-width: 26rem;
    padding: 1rem;
    flex-basis: 40%;
    }
    .buttons{
        justify-content: space-evenly;

    }
    .header-middle{
        display: none;
    }
    .header-nav-btn{
        display: none;
    }
}
@media screen and (min-width:900px){
    .button-container{
      width: 70%;
      
    }
    footer ul{
        width: 70%;
    }
    .header-middle{
        display: none;
    }
    .header-nav-btn{
        display: none;
    }
    .link-min{
        display: none;
    }
    
}
@media screen and (min-width:1200px){
    .header-nav-btn{
        display: inline-block;

    }
    .middle-sub{
        display: flex;
        // display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        position: relative;
        right: 6rem;
        width: 47rem;
        font-size: 14px;
    }
    .header-nav-btn{
        display: flex;
        // flex-direction: row;
        color: black;
        font-weight: bold;
        transition: background 0.3s linear;
        text-decoration: none;
        border-radius: 1.2rem;
        padding: 1rem;
    }
    .header-nav-btn:hover{
        background:#0000001c ;
        height: 1rem ;
    
    }
    .header-btn{
        display: flex;
        font-size: 1rem;
    }
}