footer{
    color: black;
    position: absolute;
    z-index: 100;
    // bottom: 0;
    width: 100%;
    text-decoration: none;
    list-style-type: none;

}
footer ul{
    width: 90%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-decoration: none;
    flex-direction: row;
    gap: 0.5rem;
    list-style-type: none;
    // color: rgb(228, 5, 5);
}
footer ul li a{
text-decoration: none;
list-style-type: none;
color: black;
font-size: 1rem;

}
footer ul li a:hover{
    transition: 0.5s;
    color:red;
    transform: translateY(1.1);
}
footer ul li{
    list-style-type: none;
    // margin: 0 0.8rem;
    margin-top: 0.8rem;
    text-transform: capitalize;
    font-weight: 400;
    
}
