.close-btn-container{
    // display: none;
}
.navigation{
    position: fixed;
    top: 0;
    right:0;
    width: 80%;
    max-width: 34rem;
    height: 100%;
    z-index: 10;
    background-color: alicebluE;
   overflow-y: scroll;


}
.navigation ul{
    width: 80%;
    margin: 0 auto;
    
}
.navigation ul li{
    width: 100%;
    padding: 0 auto; 

}